body {
  display: flex;
  flex-direction: column;

}

.form {
  margin: 20px auto;
}

.listMessage {
  margin: 20px auto;
}

.listMessage li {
  display: flex;
}

.listText {
  margin: 0;
  width: 200px;
}

.btn-wrap {
  margin: 0;
  width: 100px;


  & button {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.9;
    cursor: pointer;
  }
}

.delete {
  background-image: url(../images/delete.png);
}

.edit {
  background-image: url(../images/edit.png);
}

.save {
  margin-left: 11px;
  background-image: url(../images/save.png);
}